/* GENERAL SETTINGS, BACKGROUND (CIRCLES) */
* {
    box-sizing: border-box;
    margin: 0;
}

html body {
    background-color: hsl(185, 75%, 39%);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;


}

body {
    height: 100vh;
    background-image: url("./images/bg-pattern-top.svg"),
        url("./images/bg-pattern-top.svg");
    background-repeat: no-repeat;
    background-position: right 45vw bottom 50vh, left 50vw top 50vh;
}

/* Container outer settings*/

.container {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;

    align-items: center;
    position: relative;
    height: 390px;
    width: 350px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.281);
}

.container img {
    border-radius: 15px 15px 0 0;
}

/* Container inner settings*/

.container>.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;
}



.image-container>img {

    border: solid 5px white;
    position: absolute;
    top: 86px;
    left: 120px;
    border-radius: 50%;
}

.age {
    color: hsl(227, 10%, 46%);
}

.name {
    font-weight: 700;
    margin-right: 5px;
    color: rgb(44, 43, 43);
}

.city {
    color: hsl(227, 10%, 46%);
    font-size: 14px;
}

/* FOOTER */

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: solid 1px hsla(240, 0%, 41%, 0.315);
    width: 100%;
    height: 100%;
}

.footer-content .text {
    color: hsl(227, 10%, 46%);
    font-size: 10px;
}

.footer-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.likes,
.photos,
.followers {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.likes {
    grid-column: 2/3;
}

.content>.name-age {
    margin-top: 40px;
}

.footer-content .number {
    font-weight: 700;
    color: rgb(44, 43, 43);
}

.footer-content>span {
    margin: 0 25px;
}

span>span {
    margin-top: 8px;
}

/* ATTRIBUTION */

.attribution {
    position: absolute;
    background-color: aliceblue;
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
}